<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <description>Spring公共配置</description>

    <!--配置connection-factory，指定连接rabbit server参数 -->
    <rabbit:connection-factory id="connectionFactory"
                               host="${rabbit.connect.host}" port="${rabbit.connect.port}"
                               username="${rabbit.connect.username}"
                               password="${rabbit.connect.password}"
                               channel-cache-size="${rabbit.connect.channelCacheSize}"
                               publisher-returns="true" publisher-confirms="true"/>

    <!--通过指定下面的admin信息，当前producer中的exchange和queue会在rabbitmq服务器上自动生成 -->
    <rabbit:admin connection-factory="connectionFactory"/>
    <rabbit:template id="amqpTemplate" connection-factory="connectionFactory"/>

    <!--
     durable:是否持久化
     exclusive: 仅创建者可以使用的私有队列，
     auto_delete: 当所有消费客户端连接断开后，是否自动删除队列
     -->

    <!--定义queue  -->
    <rabbit:queue name="rabbit.topicqueue1" durable="true" auto-delete="true" exclusive="false"/>
    <rabbit:queue name="rabbit.topicqueue2" durable="true" auto-delete="true" exclusive="false"/>
    <rabbit:queue name="rabbit.directqueue" durable="true" auto-delete="true" exclusive="false"/>

    <!--定义topic-exchange routingkey完全相等，支持通配符-->
    <rabbit:topic-exchange name="rabbit.topicExchange"
                           durable="true" auto-delete="true">
        <rabbit:bindings>
            <rabbit:binding queue="rabbit.topicqueue1" pattern="rabbit.topic1.send"/>
            <rabbit:binding queue="rabbit.topicqueue2" pattern="rabbit.topic2.send"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>

    <!--定义direct-exchange routingkey完全相等，不支持通配符-->
    <rabbit:direct-exchange name="rabbit.directExchange" durable="true" auto-delete="true">
        <rabbit:bindings>
            <rabbit:binding queue="rabbit.directqueue" key="rabbit.direct.send"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <!-- 消息接收者 -->
    <bean id="topicConsumer1" class="com.javen.consumer.TopicConsumer1"/>
    <bean id="topicConsumer2" class="com.javen.consumer.TopicConsumer2"/>
    <bean id="directConsumer" class="com.javen.consumer.DirectConsumer"/>

    <!-- queue litener 观察 监听模式 当有消息到达时会通知监听在对应的队列上的监听对象 -->
    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener queues="rabbit.topicqueue1" ref="topicConsumer1"/>
    </rabbit:listener-container>

    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener queues="rabbit.topicqueue2" ref="topicConsumer2"/>
    </rabbit:listener-container>

    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener queues="rabbit.directqueue" ref="directConsumer"/>
    </rabbit:listener-container>

</beans>
