<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
    target：代理的目标对象
    proxyInterfaces：代理所要实现的接口，可以是多个接口，该属性还有一个别名属性interfaces
    interceptorNames：指定使用的增强，配置中的顺序对应调用的顺序
    singleton：返回的代理是否是单实例，默认为单实例
    potimize：当设置为true时，强制使用CGLib动态代理，对singleton的代理，推荐使用CGLib，因为创建慢，性能高
    proxyTargetClass：是否对类进行代理（而不是对接口进行代理）。当设置为true时，使用CGLib动态代理
    -->
    <bean id="greetingBefore" class="com.hang.spring.aop.spring.enhance.AdviceGreetingBefore"/>
    <bean id="greetingAfter" class="com.hang.spring.aop.spring.enhance.AdviceGreetingAfter"/>
    <bean id="greetingSurround" class="com.hang.spring.aop.spring.enhance.AdviceGreetingSurround"/>
    <bean id="greetingTransaction" class="com.hang.spring.aop.spring.enhance.AdviceGreetingTransaction"/>
    <bean id="greetingControllable" class="com.hang.spring.aop.spring.enhance.AdviceGreetingControllable"/>
    <bean id="target" class="com.hang.spring.aop.spring.enhance.NaiveWaiter"/>
    <bean id="targetTwo" class="com.hang.spring.aop.spring.enhance.NaiveWaiterTwo"/>
    <bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interfaces="com.hang.spring.aop.spring.enhance.Monitorable"
          p:interceptorNames="greetingControllable"
          p:target-ref="target"
          p:proxyTargetClass="true"
    />
</beans>